<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.transtep.diy" version="0.0.1">
	<name>diy</name>
	<category></category>
	<description></description>
	<author email="xxkuo@transtep.com" href="http://www.transtep.com">Transtep RD Team</author>
	<serviceurl href="assets://index.html" />
	<preference name="position" value="0,0,0,0" /><!-- ifarme 位置 大小 -->
	<preference name="bgcolor" value="transparent" /><!-- ifarme 背景顏色 -->
	<preference name="fullscreen" value="false" /><!-- ifarme 是否填滿頁面 -->
	<preference name="opacity" value="1" /><!-- ifarme 是否透明 -->
	<preference name="display" value="true" /><!-- ifarme 是否顯示 -->
	<preference name="z-index" value="0" /><!-- ifarme 先後順序 -->
	<preference name="diy_style" value=""/><!-- 加載的 css 路徑 -->
	<preference name="diy_script" value=""/><!-- 加載的 js 路徑 -->
</plugin>
