section {
	height: 90vh;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 95% 95%;
	-moz-background-size: 95% 95%;
	-webkit-background-size: 95% 95%;
	-o-background-size: 95% 95%;
}
span {
	color: #fff;
	text-shadow: #000 0px 1px 5px;
	display: block;
	height: 14px;
	font-size: 14px;
	bottom: 0px;
	position: absolute;
}
